body{
 margin:0;	
  //background: #eee;
}
a{
    	text-decoration: none;

    	color:#000;
    }
 
a:hover{
    color:#b31f1f;

    	text-decoration: underline;
    }
}
.barner{
 width:100%;
 height:20px;
 background:#b31f1f;
}
.top{
 width:1008px;
 height:250px;
 margin:0px auto;

  //box-shadow:4px 4px 6px #666;
  //border:1px  solid #666;
}
.topimg{
	width:100%;
 height:100%;
 z-index:-1;
}
.topimg:hover{
      transform:scale(1.1,1.0);
   }

img.test{
	width:1008px;
	height:250px;
	
}
.flybird{
       width:400px;
       height:260px;
       margin-top:-180px;
       margin-left:700px;
      

}
.nav_container {
        width: 1008px;
        height:35px;
        margin: 0px auto;
        background:#b31f1f;
        box-shadow:5px 3px 6px #666;
    }
    .nav_box{
    	line-height:30px;
    	margin:0px;
    	width:100px; 
    	float:left;
    	text-align:center;
    	color:white;
    	font-size: 14px;
    }
    .nav_box a{
    	text-decoration: none;

    	color:#fff;
    }
    .nav_box a:hover{
    	color:#999;
    	font-weight: bold;
    	text-decoration: underline;
    }
    .span_text{
    	text-indent:1em;
    	marigin-left:5px;
    	margin-right:5px;

    }
   .container{
   	width:1008px;
   	height:450px;
   	marign-top:10px;
   	margin:5px  auto;   
   	
   	background:#fff;
   }
   .container_top{
    width:1008px;
   	height:200px;
   	margin:0px;
    background:#eeedeb;
   border-bottom:2px solid #fff;

   }
   .container_top1{
    width:340px;
    height:205px;
    border-right:2px solid #fff;
    float:left;
   }
  .ul_list{
  	color:#b31f1f;

  }
  .ul_list_list{
  	color:black;
  }
.container_top2{
width:330px;
height:205px;
border-right:2px solid #fff;
float:left;
   }
   .container_top2_img{
   	width:310px;
   	height:195px;
   	text-align:center; 
   }
.container_top3{
width:330px;
height:205px;
float:left;

   }
.container_top1_menu{
    width:80px;
    height:25px;
    background:#cd1111;
    color:white;
    font-size:12px;
    margin:10px 0px 0px 10px;
    //border-radius: 4px;
    text-align: center;
    line-height:20px;
    float:left;

   }
.container_top1_more{
	width:45px;
	height:25px;
	font-size:12px;
	float:right;
	margin:10px 5px 0px 10px;

}
.container_top1_line1{
    width:320px;
    height:25px;
    margin:12px 5px 0px 10px;
    border-bottom: 1px solid #999;
    //box-shadow:2px 2px 1px;
    
   }
.container_top1_line2{
    width:676px;
    height:25px;
    margin:12px 5px 0px 10px;
    border-bottom: 1px solid #999;
    
   }
   .container_top1_img{
    width:150px;
    height:120px;
    margin:20px 4px ;
    margin-left:10px;
    float:left;

   }
   .container_top1_list{
    width:175px;
    height:165px;
    margin-left:-18px;
    font-size:10px;
    float:left;
    line-height:18px;

   }
   .container_top3_list{
width:330px;
height:205px;
 font-size:10px;
line-height:18px;
    float:left;
margin-left:-12px;
   
}
   .container_center{
   	width:1008px;
   	height:205px;
   	border-bottom: 1px solid #999;
   	background:#eeedeb;
   	margin:0 auto;
   }
   .container_center1{
   	width:672px;
height:205px;
border-right:2px solid #fff;
float:left;
   }
   .container_center1 menu{
    width:100px;
    height:25px;
    background:#cd1111;
    color:white;
    font-size:12px;
    float:left;

   }
  .container_center1_list{
   	width:672px;
height:205px;
  font-size:10px;
  margin-left:-12px;
  line-height:18px;
float:left;
   }
   .container_center2{
   	width:332px;
height:205px;
float:left;
   }
   .container_center2_list{

   width:330px;
height:205px;
 font-size:10px;

    float:left;
margin-left:15px;
   }
   .container_bottom{
   	width:1008px;
   	height:40px;
   	background:#eeedeb;
   	margin-top:2px;
   	float: left;
   	
   }
   .container_bottom_text{
    text-align: center;
    font-size:10px;
    //margin-top:2px;
    margin:auto;


   }
   .linkimg{
   	width:100px;
   	height:30px;
   	margin-right:2px;
   	margin-top:14px;

   }
   .footer{
   	 width:1008px;
 height:10px;
 margin:2px  auto;
  background:#b31f1f;
    box-shadow:-4px 4px 6px #666;  
    
   }

   .leader_left{
    width:300px;
    height:406px;
    background-color: #eee;
    margin-right:2px;
    margin-bottom:2p;
    float:left;
    border-right:2px solid #b31f1f;
    border-bottom:1px solid #666;
    padding-right:2px;
   }
   .leader_right{
   	width:700px;
   	height:406px;
   	//border:1px solid #666;  
    background-color: #eee;
   	margin-bottom:2px;
   	//border-radius: 4px ;
     border-bottom:1px solid #666;
   	//box-shadow: 4px 4px 4px #666;
   	float:right;
   }
   .leader_left_shu{
    width:300px;
    height:406px;
    background-color: #ccbca9;
    margin-right:2px;
    margin-bottom:2p;
    float:left;
    border-right:2px solid #b31f1f;
    border-bottom:1px solid #666;
    padding-right:2px;
   }
   .leader_right_shu{
   	width:700px;
   	height:406px;
   	//border:1px solid #666;  
    background-color: #eee;
   	margin-bottom:2px;
   	//border-radius: 4px ;
     border-bottom:1px solid #666;
   	//box-shadow: 4px 4px 4px #666;
   	float:right;
   }

   .leader_left_line{
    width:280px;
    height:25px;
    margin:12px 5px 0px 10px;
    border-bottom: 1px solid #999;
    //box-shadow:2px 2px 1px;
    
   }
  
   img.pic1{
   	width:280px;
   	height:270px;
   	margin:30px 12px;
   }
   img.pic2{
   	width:280px;
   	height:270px;
   	margin:30px 10px;
   	
   }
    img.pic3{
   	width:286px;
   	height:270px;
   	margin:30px 10px;
   	
   }

  
   .leader_right_box{
   	width:280px;
   	 height:25px;
    background:#cd1111;
    color:white;
    font-size:12px;
    margin:10px 0px 0px 10px;
    //border-radius: 4px;
    text-align: left;
    float:left;
    text-indent: 2em;
    line-height:20px;
    vertical-align:center;
   }
    .leader_right_list{
   	width:672px;
height:350px;
  font-size:10px;
  margin-left:-12px;
  line-height:18px;
 
float:left;

   }
    .leader_right_shulist{
   	width:670px;
height:350px;
  font-size:10px;
  margin:6px 10px;
  line-height:18px;
  //background-color: #fff;
 // background-image: url("images/shuborder.jpg");
 border:4px groove #ccbca9;
 text-align:center;
 vertical-align:middle;
float:left;}

 .shupic{
   	width:670px;
   	height:350px;
  
   overflow: auto;
   }

   .backimg{
   	width:300px
   	height:300px;
   	position:fixed;

   	right:50px;
	bottom:100px;
   	transition:all 1s; 
	animation:xuanzhuang 3s linear infinite;

   }
   .backimg:hover{
      transform:scale(1.5,1.5);
   }
   .backimg2{
   	width:300px
   	height:300px;
   	position:fixed;

   	right:50px;
	bottom:100px;
   	transition:all 1s; 
	animation:xuanzhuang 3s linear infinite;

   }
   .backimg2:hover{
     /* transform:skewX(30deg);*/
    transform:scale(1.5,1.5);
    /*  transform:rotate(45deg); */
     transition:all 1s; 
	animation:xuanzhuang 3s linear infinite;
   }